name: ActionsOnPR
on: pull_request
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '3.1.x' ]
        
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}  
      - name: Create folder
        run: |
          mkdir myNewFolder 
          
      - name: Setup NuGet.exe for use with actions
        uses: NuGet/setup-nuget@v1.0.5
        
      - name: ??
        working-directory: ./myNewFolder
        run: dotnet new sln --name t
          
      - name: ????
        id: build_and_test
        run: |
          dotnet sln ./myNewFolder/t.sln add **/TestConsoleApp.csproj
          dotnet add XUnitTestProject1.csproj reference **/TestConsoleApp.csproj
          dotnet sln ./myNewFolder/t.sln add XUnitTestProject1.csproj
          nuget restore ./myNewFolder/t.sln
                  
      - name: ?????
        run: |
          dotnet build ./myNewFolder/t.sln
          dotnet test XUnitTestProject1.csproj --logger "trx;LogFileName=test-results.trx"   
      - name: Invoke workflow with inputs
        uses: benc-uk/workflow-dispatch@v1
        if: success()
        with:
          workflow: Auto approve
          token: ${{ secrets.TOKEN }}
          inputs: '{ "prnum": "${{github.event.number}}" }'
          
      - name: Publish Unit Test Results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-results  
          path: ./**/TestResults/*.trx
